@import "../../assets/scss/variables";
.search-page {
  .search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 6px 9px;
    background-color: $color-bg;
    overflow: hidden;
    box-sizing: border-box;
    height: $search-bar-height;
    border: 1px solid $color-border-base;
    border-radius: $search-bar-height / 2;
    .search-icon {
    }
    .search-content {
      font-size: $fs-sm;
      margin-left: 12px;
      flex-shrink: 0;
    }
  }
  .content-container {
  }
}
